body {
  margin: 0;
  font-family: Arial;
  background: #e43c5c;
  color: white;
}

/* Giriş ekranı */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

#kickBtn {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background: #00ff7f;
  font-size: 18px;
  cursor: pointer;
}

/* Oyun ekranı */
.hidden { display: none; }

.game {
  display: flex;
  height: 100vh;
}

/* Sol renkler */
.colors {
  width: 80px;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.color {
  width: 40px;
  height: 40px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
}

/* Orta alan */
.canvasBox {
  flex: 1;
  background: #5a2d82;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

canvas {
  background: white;
  border-radius: 12px;
  border: 4px solid #333;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

/* Sağ chat */
.chatBox {
  width: 300px;
  background: #111;
}

.chatBox iframe {
  width: 100%;
  height: 100%;
}
